.label {-fx-background-color  : yellow;}
#nextButton {
        -fx-color: rgb(0,75,134);
        -fx-font-size:30px;
        -fx-font-family:sans-serif;
        //-fx-font-family:serif;
        -fx-alignment:top-left;
        -fx-text-fill:pink;
        -fx-font-weight:100;
        -fx-font-style:normal;
}
#b2 {
        -fx-background-color: rgb(0,75,134);
        -fx-font-size:30px;
        //-fx-font-family:sans-serif;
        -fx-font-family:serif;
        -fx-text-fill:linear-gradient(to bottom right,red ,white);
        //-fx-alignment:LEFT;
        -fx-font-weight:lighter;
        -fx-alignment:center;
        -fx-font-style:normal;
        -fx-background-insets:5 5 5 5;
        -fx-background-radius:5;
        -fx-border-color:black;
        -fx-border-width:5;
        -fx-padding: 5;
}
#b3 {
        -fx-color: rgb(0,75,134);
        -fx-font-size:30px;
        //-fx-font-style:bold;
        -fx-font-family:dialog;
        //-fx-font-family:serif;
        //-fx-alignment:LEFT;
        -fx-text-fill:rgb(255,123,0);
        -fx-background-color:radial-gradient(radius 50%, blue,green,white);
        -fx-font-weight:700;
        -fx-alignment:center;
}
#main {
    -fx-background-color :green;
}
#pane01 {
    -fx-background-color :blue;
}
#border {
        -fx-background-color :white;
}
.border-pane {
    -fx-background-color :white;
}
#pane02{
    -fx-background-color :orange;
}
.gridpane {
        -fx-background-color :orange;
}
#date{
    //-fx-background-color:rgb(180,179,179);
    //-fx-text-fill:blue;
    //-fx-primary-color:pink;
    //-fx-secndary-color:green;
    -fx-border-color:black;
    -fx-border-width:0;
    -fx-background-insets:0;
    -fx-background-radius:0;
}
#date .cell{
    -fx-background-color:rgb(180,179,179);
}
#date .text-field{
    -fx-background-color:rgb(180,179,179);
    -fx-border-color:black;
    -fx-border-width:0;
    -fx-background-insets:0;
    -fx-background-radius:0;
}
#date .arrow-button{
    -fx-background-color:rgb(180,179,179);
    -fx-border-width:0;
    -fx-background-insets:0;
    -fx-background-radius:0;
}
#date .label{
    -fx-background-color:rgb(180,179,179);
}
#date :forcused{
    -fx-background-color:rgb(180,179,179);
}
#text{
    -fx-background-color:rgb(180,179,179);
    -fx-accent:green;
}
#text:focused{
    -fx-background-color:pink;
}
#textField{
    -fx-text-fill:blue;
}
